/* Error: Undefined mixin.
 *   ,
 * 6 | /   +r(1439)
 * 7 | |     padding-right: 50px
 * 8 | \     padding-left: 50px
 *   '
 *   src/sass/containers/_container.sass 6:3  @import
 *   src/sass/containers/index.sass 1:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 6 \2502  \250c    +r(1439)\a 7 \2502  \2502      padding-right: 50px\a 8 \2502  \2514      padding-left: 50px\a   \2575 \a   src/sass/containers/_container.sass 6:3  @import\a   src/sass/containers/index.sass 1:9       root stylesheet";
}
